.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  padding: 0.5rem 0.2rem;
}

.title {
  font-size: 1rem;
  margin: 0.5rem 0;
  min-width: 5.5rem;
  text-align: left;
}

.temp {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.5rem 0 0;
  min-width: 5.5rem;
  text-align: center;
}

.pollen {
  font-size: 1rem;
  color: var(--light-text);
  margin: 0;
}

@media screen and (min-width: 37.5em) {
  .listItem {
    flex-direction: column;
    justify-content: center;
    border-top: 0;
    padding: 0;
  }

  .title {
    text-align: center;
  }

  .temp {
    font-size: 1.2rem;
  }

  .pollen {
    font-size: 95%;
  }
}
