:root {
  --dark-text: #444;
  --light-text: #888;
}

.App {
  background: #fff;
  color: var(--dark-text);
  margin: 0;
  padding: 1rem;
  max-width: 800px;
  min-width: 400px;
  display: grid;
  grid-template-rows: 4.5rem auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "select select"
    "today todayinfo"
    "forecast forecast";
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.15);
}

.muted {
  color: var(--light-text);
}

sup {
  font-weight: 400;
  font-size: 60%;
  color: var(--light-text);
}

@media screen and (min-width: 37.5em) {
  .App {
    margin: 1rem;
  }
}
